#data-container .company-card {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 16px;
  margin: 16px 16px 0 0;
  width: 45%;
}

#data-container {
  display: flex;
  flex-wrap: wrap;
}

body {
  font-size: 1.1rem;
  padding-left: 1rem;
  font-family: 'Roboto', sans-serif;
}

h1 {
  text-align: center;
  margin-bottom: 16px;
}

.rating-btn {
  padding: 10px 15px;
  border-radius: 5px;
  border: none;
  background-color: #87bdd8;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  margin-right: 1rem;
}

.rating-btn:hover {
  background-color: #5ca4a9;
}

#sort-button {
  padding: 15px 25px;
  margin: 3rem 0;
  border-radius: 5px;
  border: none;
  background-color: #be87d8;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  margin-right: 1rem;
}

#sort-button:hover {
  background-color: #ad40df;
}

.link {
  margin-left: 0.3rem;
  color: #5ca4a9;
}

.link:hover {
  margin-left: 0.3rem;
  color: #ad40df;
}

@media only screen and (max-width: 768px) {
  #data-container .company-card {
    width: 100%;
  }
  
  #sort-button, .rating-btn {
    padding: 10px;
    font-size: 14px;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  #data-container .company-card {
    width: 100%;
  }
  
  #sort-button, .rating-btn {
    padding: 12px;
    font-size: 15px;
    background-color: #3498db; /* Default button background color */
  color: #fff; /* Default button text color */
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s, box-shadow 0.3s;
  }
}
/* Add a hover glow effect to buttons */

#sort-button:hover {
  background-color: #2e86de; /* Button background color on hover */
  box-shadow: 0 0 10px #2e86de; /* Glow effect on hover */
}
