 
@media(min-width: 769px) {
    .mobileColumnGroup {
      display: none;
    }
  }
  @media(max-width: 769px) {
    .rowHeader, .emptyCell {
      display: none;
    }
  }
  /*
body {
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
}

#companyComparison {
    text-align: center;
    margin-top: 20px;
}

#comparisonResults {
    display: flex;
    justify-content: space-around;
    margin: 20px;
}

#company1Data, #company2Data, #company3Data, #company4Data {
    border: 1px solid #ccc;
    padding: 10px;
    width: 45%;
}

#company1Data h2, #company2Data h2, #company3Data h2, #company4Data h2 {
    text-align: center;
}

#compareButton {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

#compareButton:hover {
    background-color: #45a049;
}  */

#companyComparison {
    text-align: center;
    margin-top: 20px;
    padding: 20px;
}
#compareButton {
  background-color: #08de;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
  width: 10%;
}
h1 {
  width: 30%;
  margin: 0 auto;
}
.tableContainer {
    overflow: auto;
    overflow-anchor: none;
    position: relative;
  }
  .tableContainer caption {
    height: 0px;
  }
  thead tr {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 999;
  }
  .rowHeader, [scope="colgroup"] span {
    left: 0;
    position: sticky;
  }
  table {
    font-family: arial, sans-serif;
    border-collapse: separate;
    border-spacing: 0;
    width: 100%;
    table-layout: auto;
  }
  td, th {
    border: 1px solid #404e52;
    text-align: center;
    padding: 8px;
    min-width: 100px;
    max-width: 100px;
    background: #dddddd;
  }
  .mobileColumnGroup th {
      text-align: left;
  }
  .rowHeader {
    text-align: left;
  }
  .featureCheck {
    color: green;
  }
  .featureX {
    color: red;
  }
  thead.stickyHeader {
    position: fixed;
    z-index: 999;
    overflow-x: scroll;
    top: 0px;
  }
  thead.stickyHeader.atBottom {
    position: absolute;
    z-index: 999;
    bottom: 0px;
    left: 0px !important;
    top: initial;
    width: initial !important;
    overflow-x: clip;
  }
  thead::-webkit-scrollbar {
    height: 0px;
  }
  .horizontal-scroller {
    position: fixed;
    bottom: 0;
    height: 30px;
    overflow: auto;
    overflow-y: hidden;
  }
  .horizontal-scroller-content {
    height: 30px;
  }